@font-face {
  font-family: agrandir-regular;
  src: url(./fonts/Agrandir-Regular.otf);
}
@font-face {
  font-family: agrandir-grandheavy;
  src: url(./fonts/Agrandir-GrandHeavy.otf);
}
@font-face {
  font-family: agrandir-grandlight;
  src: url(./fonts/Agrandir-GrandLight.otf);
}
@font-face {
  font-family: agrandir-narrow;
  src: url(./fonts/Agrandir-Narrow.otf);
}
@font-face {
  font-family: agrandir-textbold;
  src: url(./fonts/Agrandir-TextBold.otf);
}
@font-face {
  font-family: agrandir-thinitalic;
  src: url(./fonts/Agrandir-ThinItalic.otf);
}
@font-face {
  font-family: agrandir-tight;
  src: url(./fonts/Agrandir-Tight.otf);
}
@font-face {
  font-family: agrandir-wideblackitalic;
  src: url(./fonts/Agrandir-WideBlackItalic.otf);
}
@font-face {
  font-family: agrandir-widelight;
  src: url(./fonts/Agrandir-WideLight.otf);
}


.agrandir-regular{
  font-family: agrandir-regular;
}
.agrandir-bold{
  font-family: agrandir-textbold;
}
.agrandir-wide-light{
  font-family: agrandir-widelight;
}
.agrandir-tight{
  font-family: agrandir-tight;
}
.agrandir-thin-italic{
  font-family: agrandir-thinitalic;
}
.agrandir-grand-heavy{
  font-family: agrandir-grandheavy;
}

.agrandir-narrow{
  font-family: agrandir-narrow;
}

/* GLOBAL CSS*/
body {
  // background-color: #520121; /* #660708 */
  background-color: #310C0F;
  background-color: #610127;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2344093e'/%3E%3Cstop offset='1' stop-color='%2344093e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23590124'/%3E%3Cstop offset='1' stop-color='%23590124' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233e0838'/%3E%3Cstop offset='1' stop-color='%233e0838' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23610127'/%3E%3Cstop offset='1' stop-color='%23610127' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23200D2C'/%3E%3Cstop offset='1' stop-color='%23200D2C' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23520121'/%3E%3Cstop offset='1' stop-color='%23520121' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden; /* Hide scrollbars */
}

.text-headline{
  font-size: 3rem;
}


.half-opacity{
  opacity: 30%;
}

.hide-on-small{
  @media(max-width: 320px){
    display: none;
  }
}

//global h1 and h2 h3 styles

h1 {
  color: rgb(21, 7, 17);
  font-size: 2.2rem;
  line-height: 0.9;
  text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.3);
  margin: 0;
}

h2 {
  margin: 4px 0 0 0;
  padding-left: 0.28rem;
  font-size: 12px;
  line-height: 0.9;
}

@media (min-width: 380px){
  h1 {
    font-size: 34px;
    line-height: 0.9;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.3);
    margin: 0;
  }

  h2 {
    margin: 6px 0 0 0;
    line-height: 0.9;
    padding-left: 0.28rem;
    font-size: 12px;
  }
}

@media (min-width: 460px){

  h1{
    font-size: 40px;
  }
  h2 {
    margin: 10px 0 0 0;
    line-height: 0.9;
    padding-left: 0.28rem;
    font-size: 16px;
  }
}

@media (min-width: 500px){
  h1 {
    font-size: 48px;
    line-height: 0.9;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.3);
    margin: 0;
  }

  h2 {
    margin: 6px 0 0 0;
    line-height: 0.9;
    padding-left: 0.28rem;
    font-size: 16px;
  }
}


 @media (min-width: 801px) { //801px
   h1{
     font-size: 50px;
     text-shadow: 2px 2px 50px rgb(27, 2, 2, 0.3);
   }
   h2{
     padding-left: 24px;
     margin-top: 14px;
     font-size: 1.8rem;
     text-shadow: 1px 0px 0px rgb(97, 16, 16);
   }
 }

 @media (min-width: 1400) {

  //  h1{
  //    font-size: 5rem;
  //    text-shadow: 2px 2px 50px rgb(27, 2, 2);
  //  }
  //  h2{
  //    font-size: 1.8rem;
  //    text-shadow: 1px 0px 0px rgb(97, 16, 16);
  //  }
 }

// #kathrin-canvas{
//   position: absolute;
//   opacity: 70%;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   background: #520121;
//   // border: 1px solid white;
//   top:49.99px;
//   width: 100%;
//   z-index: 0;
//   height: 100%;
//   @media (min-width: 601px){
//     top: 8%;
//     height: 87%;
//   }
// }


